.config/configstore
.config/filezilla
.config/filezilla-server-gui
.config/github-copilot
.config/htop
.config/karabiner
.config/psysh
.config/simple-update-notifier
.config/sketchybar
.config/raycast
.config/thefuck
.config/btop
